<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutChangesToGlobalState="true"
		 checkForUnintentionallyCoveredCode="true"
		 colors="true"
		 coverage-text="true"
		 beStrictAboutOutputDuringTests="true"
		 forceCoversAnnotation="true"
		 mapTestClassNameToCoveredClassName="true"
		 verbose="true">
	<testsuites>
		<testsuite name="All">
			<directory phpVersion="5.6" phpVersionOperator=">=">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory>.</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
		<log type="coverage-clover" target=".phpunit/coverage.xml" />
		<log type="coverage-html" target=".phpunit/html" lowUpperBound="35" highLowerBound="70" />
		<log type="testdox-html" target=".phpunit/html/testdox.html" />
		<log type="testdox-text" target=".phpunit/testdox.txt" />
		<log type="testdox-text" target="php://stdout" />
	</logging>
</phpunit>